/* 基础颜色和字体设置 */
:root {
  /* 按钮颜色 */
  --primary-color: linear-gradient(90deg, #FFFBF0 0%, #FFDFB7 100%);
  /* 按钮悬停颜色 */
  --secondary-color: #ffed4a;
  /* 按钮圆角 */
  --border-radius: 20px;
  /* 背景色 */
  --bg-dark: transparent;
  /* 字体色 */
  --text-light: #f7fafc;
}
/* 全局背景 */
body,html {
  font-family: "Helvetica", "Arial", sans-serif;
  position: relative;
  background-color: var(--bg-dark);
  color: var(--text-light);
}
/* 全局滚动条 */
::-webkit-scrollbar-corner {
  background-color: #c5c5c5;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#app,.appContainer {
  width: 100%;
  max-width: 1920px;
  overflow: hidden;
}

/* 全局按钮样式 */
.myBtn {
  background: var(--primary-color);
  border-radius: var(--border-radius);

  font-size: 20px;
  font-weight: bold;
  color: #EF5D2C;

  /* 自动布局 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 44px;
  cursor: pointer;
}
.myBtn:hover {
  background-color: var(--secondary-color);
}
/* 基础样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
.num {
  font-weight: 700;
  font-size: 18px;
  color: #FE6001
}
/* 移除 input 和 textarea 元素的聚焦边框 */
input:focus,
textarea:focus {
  outline: none;
  /* 你可以在这里添加自定义的边框样式，例如： */
  /* border: 1px solid #000; */
}


